<p>
	This site is dedicated in loving memory of Kevin Gong. A great friend who inspires us to do great selfless things. 
</p> 

<p>
	Why I made this site:
	<ol>
		<li>To build something within Berkeley community</li>
		<li>To practice BDD.</li>
		<li>To lighten the mood of a stressed out Berkeley student</li>
	</ol>
</p>

