<p>
	This site is dedicated in loving memory of Kevin Gong. A great friend who inspires us to do great selfless things. 
</p> 

<p>
	My name is Alexander Vasyuk and here is why I made this site:
	<ol>
		<li>I wanted to build something within Berkeley community</li>
		<li>To practice BDD</li>
		<li>To lighten the mood of a stressed out Berkeley student</li>
	</ol>
</p>

