<div class="row">
	<div class="span8">
		<section id="feed">
			<%= render 'shared/feed'%>
		</section>
	</div>
	<div class="span4">
		<%if signed_in?%>
			<section class="post-form">
				<div class="title">Why so serious?</div>
				<div class="description">Choose a photo and a title. Make fun of your friends.</div>
				<%= render 'shared/post_form'%>
			</section>

			<section id="user-feedback"></section>
			
			<script id="template-upload" type="text/x-tmpl">
				<div class="upload"> 
					{%= o.title %}
					<div class='progress'>
						<div class="bar" style="width:0%"></div> 
					</div>
				</div>
			</script>
		<%end%>
	</div>
</div>