<div class="row">
	<div class="col-md-4 col-md-push-8">
		<%if signed_in?%>
			<section class="post-form">
				<div class="title">Why so serious?</div>
				<div class="description">Choose a title and a photo. Supporting: .jp(e)g, .png</div>
				<%= render 'shared/post_form'%>
				<section id="user-feedback"></section>
			</section>
			<script id="template-upload" type="text/x-tmpl">
				<div class="upload"> 
					<div class='progress'>
						<div class="progress-bar" role="progressbar" style="width:0%; color:black">
						Processing...
						</div> 
					</div>
				</div>
			</script>
		<%else%>
			<div class="title">Welcome to BerkeleyGag</div>
			<p style="margin-top:7px;">BerkeleyGag is a place where you can post anything you find laugh-worthy in Berkeley community.</p>
			<p>You need to have berkeley.edu email to post and vote.</p>
			<p>Sign up and enjoy!</p>
		<%end%>
	</div>
	<div class="col-md-8 col-md-pull-4">
		<section id="feed">
			<%= render 'shared/feed'%>
		</section>
		<%= will_paginate @feed_items%>
	</div>
</div>