@import "bootstrap";

//Header
.slogan {
	float: left;
	padding: 15px 15px;
	font-size: 13px;
	line-height: 24px;
	height: 50px;
}

// Feed item

#posts > .feed_item:first-child {
	border-top: none;
	margin-top:0px;
}

.feed_item {
	border-top: 1px solid #eee;
	line-height: 1.7em;
	margin-top:10px;

	.title {
		margin-top:10px;
		font-size: 1.7em;
		font-weight:bold;
		letter-spacing: -1px;
	}

	.timestamp {
		font-size: 0.8em;
		color: #999;
	}

	.vote .vote-count {
		font-size: 1em;
		color: #999;
	}

	.voting-option {
		margin-left:10px;
	}
}

// Post form

.post-form {
	line-height: 1.7em;
	margin-bottom:10px;
	border-bottom: 1px solid #eee;

	#post-title-validation {
		display:none;
	}

	.title	 {
		font-weight:bold;
		font-size: 1.7em;
		padding-top:10px;
		letter-spacing: -1px;
	}

	.description {
		font-size: 0.8em;
		color: #999;
	}

	.photo {
		line-height: 1em;
	}

	.post-title {
		font-weight:bold;
		letter-spacing: -1px;
	}

	#photo-form, #link-form {
		margin-top:15px;
	}

	#photo-btn, #link-btn {
		outline: none;
	  	box-shadow:none !important;
	}
}

//Progress bar


//Show page
.posts {
	
	.post {
		border-top: 1px solid #eee;
		line-height: 1.7em;
		margin-top:10px;

		.title {
			margin-top:10px;
			font-size: 1.7em;
			font-weight:bold;
			letter-spacing: -1px;
		}

		.photo {
			margin-top:10px;
			line-height: 1em;
		}	
	}
}