  <footer class="navbar navbar-default">
    <div class="container">
      <small class="navbar-brand slogan">
        <a href="http://berkeleygag.com/">BerkeleyGag</a>
        <span>by Alexander Vasyuk</span>
      </small>
    </div>
  </footer>
