  <footer class="navbar navbar-default">
    <div class="container">
      <small class="navbar-brand slogan">
        <a href="http://berkeleygag.com/">BerkeleyGag</a>
        <span>by Alexander Vasyuk</span>
      </small>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <span class="slogan hidden-xs">because we don't waste enough time</span>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
    </div>
  </footer>
